# URL du backend API (local ou ngrok)
# Local : http://127.0.0.1:8002
# Ngrok : https://xxxx-8002.ngrok-free.app
VITE_API_TARGET=https://e820-137-255-185-221.ngrok-free.app

# Pour dev local sans ngrok, décommente :
# VITE_API_TARGET=http://127.0.0.1:8002

# Google One Tap
VITE_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
VITE_KKIAPAY_PUBLIC_KEY=95ab811a8947a69d7d57d3a9ffdc8f9ae3abb4d
VITE_KKIAPAY_SANDBOX=true
